*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 16px;
}

.calculator {
    height: 44rem;
    aspect-ratio: 0.6;
    background-color: rgb(255, 148, 219);
    border: 2px solid black;
    padding: 3rem 1.5rem;
    border-radius: 25px;
    margin: clamp(0px, 2vw, 1rem);
    font-family: Arial, Helvetica, sans-serif;
}

.keypad {
    margin-top: 2em;
}

.keypad-row {
    margin: 0.5em 0;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.calculator button {
    flex: 1;
    aspect-ratio: 1;
    font-size: 2.7rem;
    background-color: rgb(255, 255, 193);
    border-radius: 15px;
    border: 2px solid black;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    aspect-ratio: 3.1;
    background-color: rgb(231, 255, 253);
    border: 2px solid black;
    text-align: right;
    padding: 0.5em 1em 0;
    gap: 5px;
}

.line-1 {
    font-size: 1.5rem;
    color: #575757;
}

.line-2 {
    font-size: 2.7rem;
}