*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

html {
    font-size: 16px;
}

.calculator {
    width: clamp(300px, 95vw, 500px);
    background-color: rgb(255, 148, 219);
    border: 1px solid black;
    padding: clamp(5px, 15vw, 3rem) clamp(5px, 5vw, 2rem);
    border-radius: 25px;
    margin: clamp(5px, 2vw, 1rem);
    font-family: Arial, Helvetica, sans-serif;
}

.keypad {
    margin-top: 2em;
}

.keypad-row {
    margin: 0.5em 0;
    display: flex;
    flex-direction: row;
    gap: 0.5em;
}

.calculator button {
    flex: 1;
    width: 50px;
    aspect-ratio: 1;
    font-size: clamp(1em, 5vw, 3.2em);
    background-color: rgb(255, 255, 193);
    border-radius: 15px;
}

.display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: clamp(6rem, 20vw, 8rem);
    background-color: rgb(231, 255, 253);
    border: 1px solid black;
    text-align: right;
    padding: 0.5em 1em 0;
    gap: 5px;
}

.line-1 {
    font-size: clamp(1.5em, 3vw, 2em);
    color: #575757;
}

.line-2 {
    font-size: clamp(2em, 5vw, 3.2em);
}